.company-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.clients {
    display: flex;
    justify-content: space-around;
    height: 92px;

    &__item {
        margin-right: 30px;
    }

    &__item:last-child {
        margin-right: 0px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 170px;
        height: 92px;

        fill: $iconsColor;
        transition: fill 250ms $mainAnimation,
        color 250ms $mainAnimation;

        border: 1px solid $iconsColor;
        border-radius: 4px;
    }

    &__link:hover,
    &__link:focus {
        fill: $accentColor;

        border: 1px solid $accentColor;
        border-radius: 4px;
    }
}