.contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.contacts__link {
    display: flex;
    align-items: center;

    color: $primaryTextColor;
    fill: $primaryTextColor;
}

.contacts__link:hover,
.contacts__link:focus {
    color: $accentColor;
    fill: $accentColor;

    transition: color 250ms $mainAnimation;
}

.contacts__icon {
    margin-right: 10px;
    vertical-align: middle;
}