.contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__item:not(:last-child) {
        margin-right: 50px;
    }

    &__link {
        display: flex;
        align-items: center;

        color: $primaryTextColor;
        fill: $primaryTextColor;
    }

    &__link:hover,
    &__link:focus {
        color: $accentColor;
        fill: $accentColor;

        transition: color 250ms $mainAnimation;
    }

    &__icon {
        margin-right: 10px;
        vertical-align: middle;
    }
}