.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $serviceFontColor;
}

.footer-area {
    display: flex;
    align-items: baseline;
}

.address-area {
    margin-right: 70px;
}

.address {
    line-height: 1.7;
    font-style: normal;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__postal {
    color: white;
}

.address__point {
    color: $serviceTextColor;
    transition: color 250ms $mainAnimation;
}

.address__point:hover,
.address__point:focus {
    color: $accentColor;
}