.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $serviceFontColor;
}

.footer-area {
    display: flex;
    align-items: baseline;
}

.address-area {
    margin-right: 70px;
}

.address {
    line-height: 1.7;
    font-style: normal;

    &__item:not(:last-child) {
    margin-bottom: 9px;
    }

    &__postal {
        color: white;
    }

    &__point {
        color: $serviceTextColor;
        transition: color 250ms $mainAnimation;
    }

    &__point:hover,
    &__point:focus {
        color: $accentColor;
    }
}