.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolio__card {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio__card:nth-child(3n + 3) {
    margin-right: 0;
}

.portfolio__link {
    display: block;
    color: $secondaryTextColor;
}

.portfolio__link:hover,
.portfolio__link:focus {
    color: $accentColor;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__card:hover .portfolio__overlay,
.portfolio__card:focus .portfolio__overlay {
    opacity: 1;
    transform: translatex(0);
}

.portfolio__overlay-area {
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 274px;
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;

    padding: 24px;

    height: 274px;

    display: flex;
    align-items: center;

    background-color: $accentColor;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms $mainAnimation;
}

.portfolio__description {
    padding: 20px 24px;

    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.portfolio__name {
    margin-bottom: 4px;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__text {
    color: $primaryTextColor;
    font-size: 16px;
    line-height: 1.9;
}